.chat_body {
    overflow: scroll;
    padding: 30px;
}
.chat_message {
    position: relative;
    width: fit-content;
    font-size: 16px;
    padding: 10px;
    background-color:lightgray;

}

.chat_reciever {
    margin-left: auto;
    background-color: #dcf8c6;
}

.chat_timestamp {
    margin-left: 10px;
    font-size: xx-small;
}

.chat_name {
    position:absolute;
    top: -15;
    font-weight: 800;
    font-size: xx-small;
}

.chat_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}

.chat_footer > form {
    flex:1;
    display: flex;
}

.chat_footer > form > input {
    flex:1;
    border-radius: 30px;
    padding: 10px;
    border: none;
    background-color: rgb(229, 233, 236);
}
.chat_footer > form > button {
    display: none;
}